<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkj.wow.couchbase.lite.console">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name="com.pkj.wow.couchbase.lite.console.ui.console.ConsoleActivity"
            android:documentLaunchMode="intoExisting"></activity>
    </application>

</manifest>